body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-conexion-red-degradado_23-2148879890.jpg?size=626&ext=jpg&uid=R122152698&ga=GA1.1.1514426708.1710877512");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0; /* Eliminar margen predeterminado del cuerpo */
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

footer {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  bottom: 0;
  position: fixed;
  margin-left: 0; /* Eliminar el margen izquierdo */
  padding-left: 0; /* Eliminar el relleno izquierdo */
}

footer p {
  margin: 0;
  padding: 20px 0;
  background-color: black;
  color: #fff;
  height: 30px;
}